{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<a href ="http://studio-en.ru/" target="_blank"> <img src="{% static 'app/content/studia.jpg' %}" class="logo" alt="studia"/></a>
<a href ="https://www.fedex.com/" target="_blank"> <img src="{% static 'app/content/Fed.png' %}" class="logo" alt="Fed"/></a>
<a href ="https://www.fedex.com/" target="_blank"> <img src="{% static 'app/content/my.png' %}" class="logo" alt="my"/></a>
<a href ="https://www.chevron.com/" target="_blank"> <img src="{% static 'app/content/chevron.png' %}" class="logo" alt="chevron"/></a>

{% endblock %}
